<%- include('./partials/header') %>

<div>
  <div class="row d-flex text-center">
    <div class="col">
      <h1><%= title %></h1>
    </div>
  </div>
  <div class="row d-flex text-center">
    <p>Get Lost in the Woods</p>
  </div>
  <div class="row">
    <img src="/images/forest-eco-1.jpeg" alt="Forest Ecosystem" class="image1">
  </div>
</div>
  


<%- include('./partials/footer') %>