@font-face {
  font-family: "Pinewood";
  src: url(/fonts/Pinewood.ttf);
}

body {
  padding: 50px;
  font-size: 14px;
  font-family: "Pinewood", sans-serif;
  height: 100vh;
  background: #50c878;
  background: linear-gradient(
    270deg,
    #50c878 0%,
    rgba(13, 215, 18, 1) 45%,
    rgba(0, 212, 255, 1) 100%
  );
}

a {
  color: #f7f8f9;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

#list > tbody > tr > td {
  padding: 10px;
}

.login {
  height: 30px;
}

.google {
  height: 20px;
}

.row1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/forest-eco-1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
}

.table-hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/forest-eco-2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

#openModal {
  margin-top: 150px;
}
