* {
  background: #50C878;
  background: linear-gradient(270deg, #50C878 0%, rgba(13,215,18,1) 45%, rgba(0,212,255,1) 100%);
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #f7f8f9;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

#list > tbody > tr > td {
  padding: 10px;
}

.login {
  height: 34px;
}

.login img {
  height: 30px;
}

.google {
  height: 34px;
}