* {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,12,1) 54%, rgba(0,212,255,1) 100%);
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #f7f8f9;
}

.login {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 34px;
}

.login img {
  height: 30px;
}