<%- include('../partials/header') %>
<br><br><br>
<table id="list" class="d-flex justify-content-center">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td><strong>TREE-T YOURSELF</strong></td>
      <td><strong>NETWORKS</strong></td>
    </tr>
    <% trees.forEach(function(tree) { %>
      <tr>
        <td><%= tree.name %></td>
        <td><a href="/trees/<%= tree._id %>">FACTS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>