<%- include('../partials/header') %>
<br /><br /><br>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <h2>TREE-T YOURSELF</h2>
    </div>
  <div class="table-container">
    <table id="list" class="table table-hover">
      <tbody>
        <% var sortedTrees = trees.sort((a, b) => a.name.localeCompare(b.name)); %>
        <% var counter = 0; %>
        <% trees.forEach(function(tree) { %>
          <% if (counter % 3 === 0) { %>
            <tr>
          <% } %>
          <td>
            <h4><%= tree.name %></h4>
            <a href="/trees/<%= tree._id %>" class="btn btn-outline-light">FACTS</a>
          </td>
          <% if (counter % 3 === 2 || counter === trees.length - 1) { %>
            </tr>
          <% } %>
          <% counter++; %>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../partials/footer') %>





