<%- include('../partials/header') %>
<br><br><br>
<div class="container">
  <table id="list" class="test">
    <tbody>
      <tr>
        <td><strong>TREE-T YOURSELF</strong></td>
        <td><strong>NETWORKS</strong></td>
      </tr>
      <% trees.forEach(function(tree) { %>
        <tr>
          <td><%= tree.name %></td>
          <td><a href="/trees/<%= tree._id %>">FACTS</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>